body {
    font-family: sans-serif;
    background-color: rgb(50, 50, 50);
    color: white;
}

.Main {
    display: flex, list-item;
}

.Button {
    border: 0.3vh, solid, black;
    border-radius: 0.5vh;
    height: 5vh;
    width: 15vh;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.Image {
    border: 0.3vh, solid, black;
    border-radius: 0.5vh;
    height: 15vh;
    width: 15vh;
}